html {
    color: #333;
}

blockquote {
    font-size: 1rem !important;
    color: #767676 !important;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #767676;
    padding-left: 15px;
    margin: 20px 0 0 0;
}

dd {
    padding-bottom: 20px;
}

em {
    color: #333;
    font-weight: 500;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

strong em {
    color: #767676;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

ul {
    margin-bottom: 20px;
}

.adornment {
    margin-top: 5px;
    margin-left: -29px;
    writing-mode: vertical-lr;
    position: absolute;
}

#avatar {
    width: 80px;
    height: 80px;
}

.uk-article #content h1 {
    font-size: 1.3rem;
    font-weight: 300;
}

.uk-article #content h2 {
    font-size: 1.2rem;
    font-weight: 300;
}

.uk-article #content h3 {
    font-size: 1.1rem;
    font-weight: 300;
}

#note-list a + p, #post-list a + p {
    margin-top: 0;
}

#note-list p > a, #post-list p > a {
    text-decoration: underline;
}

#note-list p:last-of-type, #post-list p:last-of-type {
    margin-bottom: 0;
}

#note-list li:nth-child(n+2), #post-list li:nth-child(n+2) {
    margin-top: 2rem;
}

#site-bio {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 0;
}

#site-title {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 20px;
    margin: 0;
}
