<footer>
    <div class="uk-section uk-section-default uk-margin-remove">
        <div class="uk-container uk-container-xsmall">
            <hr class="uk-divider-icon uk-margin-large">

            <div class="uk-flex uk-flex-center uk-grid-small" data-uk-grid>
                <a aria-label="LinkedIn"
                   class="uk-icon-link"
                   data-uk-icon="linkedin"
                   href="https://www.linkedin.com/in/ronlancaster"></a>
                <a aria-label="Twitter"
                   class="uk-icon-link"
                   data-uk-icon="twitter"
                   href="https://www.twitter.com/ronlancaster"></a>
            </div>

            <div class="uk-text-meta uk-margin">
                <div class="uk-flex uk-flex-center uk-grid-small" data-uk-grid>
                    <div class="uk-display-inline">©Copyright {{ site.copyright }}</div>
                    <div class="uk-display-inline">{{ site.author }}</div>
                </div>
            </div>

            <div class="uk-text-meta uk-flex uk-flex-center uk-grid-small" data-uk-grid>
                <a href="/index.xml">RSS</a>
                <a href="/index.json">JSON</a>
            </div>
        </div>
    </div>
</footer>