<nav class="uk-container uk-container-small uk-navbar uk-navbar-container uk-navbar-transparent"
     data-uk-navbar
     id="topnav"
>
    <div class="uk-navbar-left uk-hidden@s">
        <ul class="uk-navbar-nav">
            {% if page.url != "/" %}
            <li><a href='/'> <span data-uk-icon="arrow-left"></span>Home</a></li>
            {% else %}
            <a class="uk-navbar-item uk-logo" href="/">
                <img alt="User avatar"
                     src="/assets/avatar/avatar.png"
                     style="aspect-ratio: 1;"
                     width="24"
                >
            </a>
            {% endif %}
        </ul>
    </div>

    <div class="uk-navbar-left uk-visible@s">
        <div class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo" href="/">
                <img alt="User avatar"
                     src="/assets/avatar/avatar.png"
                     style="aspect-ratio: 1;"
                     width="24"
                >
            </a>
        </div>
    </div>

    <div class="uk-navbar-right uk-hidden@s">
        <ul class="uk-navbar-nav">
            <li><a aria-label="toggle menu" data-uk-navbar-toggle-icon data-uk-toggle href="#sidebar"></a></li>
        </ul>
        <div data-uk-offcanvas="flip: true" id="sidebar">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" data-uk-close type="button"></button>

                <div class="uk-margin-large"></div>

                <ul class="uk-nav uk-nav-default">
                    {% include menu.html %}
                </ul>
            </div>
        </div>
    </div>

    <div class="uk-navbar-right uk-visible@s">
        <ul class="uk-navbar-nav">
            {% if page.url != "/" %}
            <li><a href='/'><span data-uk-icon="arrow-left"></span>Home</a></li>
            {% endif %}

            {% include menu.html %}
        </ul>
    </div>
</nav>