<ul class="uk-list uk-list-large uk-margin-medium-top" id="post-list">
    {% assign seton = site.notes | reverse %}
    {% for note in seton limit:include.limit %}
    {% if note.status == "Stable" %}
    {% assign icon = "bookmark" %}
    {% else %}
    {% assign icon = "question" %}
    {% endif %}
    <li class="uk-width-xlarge">
        {% include note.html
        content=note.content
        date=note.date
        description=note.description
        full=include.full
        icon=icon
        link=note.link
        markdown=markdown
        status=note.status
        title=note.title
        url=note.url
        %}
    </li>
    {% endfor %}
</ul>