<article class="uk-article">
    <a class="uk-link-toggle uk-display-block" href="{{ include.url }}">
        <header class="uk-article-title">
            <h4 class="uk-link-heading uk-margin-remove-bottom uk-text-light">
                <span class="uk-margin-small-right" data-uk-icon="icon: {{- include.icon -}}; ratio: 0.8"></span>
                {{ include.title }} <span class="uk-text-meta">({{ include.status }})</span>
            </h4>
        </header>
    </a>

    <aside class="uk-article-meta">
        {{ note.description }}<br/>
        {{ include.date | date_to_string }}
        - {%- include read_time.html content=include.content -%}
    </aside>

    {% if include.full %}
    <div class="uk-margin-small-top" id="content">{{ include.markdown }}</div>
    {% endif %}
</article>