<article class="uk-article">
    <a class="uk-link-toggle uk-display-block" href="{{ include.url }}">
        <header class="uk-article-title">
            <h4 class="uk-link-heading uk-margin-remove-bottom uk-text-light">
                {{ include.title }} <span class="uk-text-meta">({{ include.status }})</span>
            </h4>
        </header>
    </a>

    <aside class="uk-article-meta">
        {{ include.description }}<br/>
        {{ include.date | date_to_string }}
        - {%- include read_time.html content=include.content -%}
    </aside>

    {% if include.full %}
    <div class="uk-margin-small-top" id="content">{{ include.markdown }}</div>
    
    {% if include.references %}
    <div class="uk-margin-medium-top">
        <h2 class="uk-heading-divider">References</h2>
        <ul class="uk-list uk-list-divider">
        {% for reference in include.references %}
            <li>{{ reference }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endif %}
</article>
