<article class="uk-article">
    {% if include.title %}
    <a class="uk-link-toggle uk-display-block" href="{{ include.url }}">
        <header class="uk-article-title">
            <h4 class="uk-link-heading uk-margin-remove-bottom">
                {{ include.title }}
            </h4>
        </header>
    </a>
    {% endif %}

    <aside class="uk-article-meta uk-margin-small-bottom">
        {{ include.date | date_to_string }}
        {% unless include.full %}
        - {%- include read_time.html content=include.content -%}
        {% endunless %}
    </aside>

    <div class="uk-link-text">{{ include.content }}</div>

    {% unless include.full %}
    <a class="uk-button uk-button-text uk-margin-top" href="{{ include.url }}">
        Go deeper <span data-uk-icon="arrow-right"></span>
    </a>
    {% endunless %}
</article>