<article class="uk-article">
    {% if include.title %}
    <a class="uk-link-toggle uk-display-block" href="{{ include.url }}">
        <header class="uk-article-title"><h4 class="uk-link-heading uk-margin-remove-bottom">
            {{ include.title }}
        </h4></header>
    </a>
    {% endif %}

    <aside class="uk-article-meta uk-margin-small-bottom">
        <a class="uk-link-reset" href="{{ include.url }}">
            {{ include.date }}
        </a>
    </aside>

    <div class="uk-link-text">{{ include.content }}</div>
</article>