<ul class="uk-list uk-list-large uk-list-divider uk-margin-medium-top" id="post-list">
    {% for post in paginator.posts %}
    {% capture markdown %}
    {% if include.full %}
    {{ post.content | markdownify }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
    {% endcapture %}
    <li class="uk-width-xlarge">
        {% include post.html
        content=post.content
        date=post.date
        full=include.full
        link=post.link
        markdown=markdown
        title=post.title
        url=post.url
        %}
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">Next</a>
    {% endif %}
</div>
