{% capture link %}
{% if include.link %}
{{ include.link }}
{% else %}
{{ include.url }}
{% endif %}
{% endcapture %}

<article class="uk-article">
    {% if include.title %}
    <a class="uk-link-toggle uk-display-block" href="{{ link }}">
        <header class="uk-article-title">
            <h4 class="uk-link-heading uk-margin-remove-bottom uk-text-light">
                {{ include.title }}
                {% if include.link %}
                <span data-uk-icon="icon: link-external; ratio: 0.7"></span>
                {% endif %}
            </h4>
        </header>
    </a>
    {% endif %}

    <aside class="uk-article-meta">
        {{ include.date | date_to_string }}
        - {%- include read_time.html content=include.content -%}
    </aside>

    <div class="uk-margin-small-top">{{ include.markdown }}</div>

    {% if include.full == false and include.content contains site.excerpt_separator %}
    <a class="uk-button uk-button-text uk-margin-top" href="{{ include.url }}">
        Keep reading <span data-uk-icon="arrow-right"></span>
    </a>
    {% endif %}
</article>