<!doctype html>
<html lang="en">

{% include head.html %}

<body>

{% include navigation.html %}

<div class="uk-section uk-section-small uk-section-muted">
    <div class="uk-container uk-container-small uk-text-center uk-text-left@s">
        <header>
            <h1 class="uk-heading-large uk-animation-fade">
                <bold>Thoughts</bold>
                <span class="uk-text-light uk-text-muted">on technology and leadership</span>
            </h1>
        </header>
    </div>
</div>

<div class="uk-section uk-section-small uk-section-default uk-section-overlap">
    <div class="uk-container uk-container-small uk-text-center uk-text-left@s">
        <h2 class="uk-heading uk-text-lighter uk-margin-small-bottom uk-animation-fade">
            Ron Lancaster • Fractional CTO
        </h2>
        <h2 class="uk-heading-divider uk-text-lighter uk-margin-remove-top uk-animation-fade">
            Helping businesses grow with AI
        </h2>
    </div>
</div>

<main data-uk-height-viewport="expand: true">
    <div class="uk-section uk-section-small uk-section-default ">
        <div class="uk-container uk-container-small uk-text-center uk-text-left@s">
            {{ content }}
        </div>
    </div>
</main>

{% include footer.html %}

</body>
</html>